$white: white;
$black: black;
$gray: #4F4F4F;
$brand_light: #094B72;
$brand_deep: #004D7B;
$border: 1px solid red;

$playfair: 'Playfair Display', serif;
$poppins: 'Poppins', sans-serif;
$inter : 'Inter',sans-serif;