#footer {
    background-color: #094B72;

    .footer_content {

        .footer_top {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 5px;
            padding-bottom: 91px;

            @include xs() {
                grid-template-columns: 1fr;
                padding-bottom: 20px;
            }

            @include sm() {
                grid-template-columns: 1fr;
                padding-bottom: 20px;
            }
            @include lg() {
                grid-template-columns: 1fr;
                padding-bottom: 20px;
            }

            .footer-logo-part {
                padding-top: 73px;
                margin-left: 173px;

                @include xs(){
                    flex: 1;
                    padding-top: 20px;
                    margin: auto;
                }
                @include sm(){
                    flex: 1;
                    padding-top: 20px;
                    margin: auto;
                }
                @include md(){
                    flex: 1;
                    padding-top: 30px;
                    margin: auto;
                }
                @include lg(){
                    flex: 1;
                    padding-top: 50px;
                    margin: auto;
                }
                img {}
            }

            .footer-component-part {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 30px;
                padding-top: 99px;
                margin-right: 165px;

                @include xs() {
                    grid-template-columns: 1fr;
                    padding-top: 20px;
                    margin-right: 0;
                }

                @include sm() {
                    grid-template-columns: 1fr;
                    padding-top: 20px;
                    margin-right: 0;
                }
                @include md() {
                    padding-top: 20px;
                    margin: auto;
                    gap: 50px;
                }
                @include lg() {
                    padding-top: 20px;
                    margin: auto;
                    gap: 50px;
                }


                div {
                    h4 {
                        font-family: $inter;
                        font-weight: 500;
                        font-size: 20px;
                        color: #F4F5F7;

                        @include xs() {
                            text-align: center;
                            font-size: 18px;
                        }

                        @include sm() {
                            text-align: center;
                            font-size: 18px;
                        }
                        @include md() {
                            // text-align: center;
                        }
                    }

                    ul {

                        @include xs() {
                            padding-top: 15px;
                        }

                        @include sm() {
                            padding-top: 15px;
                        }
                        @include md() {
                            padding-top: 15px;
                        }
                        @include lg() {
                            padding-top: 20px;
                        }

                        li {
                            margin-bottom: 15px;

                            @include xs() {
                                margin-bottom: 5px;
                                text-align: center;
                            }

                            @include sm() {
                                margin-bottom: 5px;
                                text-align: center;
                            }

                            a {
                                font-family: $inter;
                                font-size: 16px;
                                color: #EEEFF4;

                                @include xs() {
                                    font-size: 14px;

                                }

                                @include sm() {
                                    font-size: 14px;
                                }
                            }

                        }
                    }
                }
            }
        }

        .footer_bottom {
            background-color: #004D7B;

            @include xs() {
                display: grid;
                grid-template-columns: 1fr;
            }
            @include sm() {
                display: grid;
                grid-template-columns: 1fr;
            }

            .footer-sign {
                h4 {
                    padding-top: 24px;
                    padding-bottom: 24px;
                    margin-left: 165px;
                    font-family: $inter;
                    font-size: 14px;
                    color: #D9DBE1;

                    @include xs() {
                        text-align: center;
                        margin: auto;

                    }

                    @include sm() {
                        text-align: center;
                        margin: auto;

                    }
                    
                    @include md() {
                        text-align: center;
                        margin-left: 40px;

                    }
                    
                    @include lg() {
                        text-align: center;
                        margin-left: 50px;

                    }

                }


            }

            .footer_icon {
                padding-top: 22px;
                padding-bottom: 22px;

                @include xs() {
                    flex: 1;
                }

                @include sm() {
                    flex: 1;
                }

                ul {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    gap: 16px;
                    margin-right: 165px;

                    @include xs() {
                        margin: auto;
                        padding-left: 70px;
                        padding-right: 70px;
                    }

                    @include sm() {
                        margin: auto;
                        padding-left: 100px;
                        padding-right: 100px;
                    }
                    @include md() {
                        margin-right: 40px;
                    }
                    @include lg() {
                        margin-right: 50px;
                    }
                    
                }
            }
        }
    }
}