#service {
    .service_content {
        display: flex;
        flex: 50%;

        @include xs {
            display: grid;
        }

        @include sm {
            display: grid;
        }

        .content_left {
            padding-top: 240px;
            padding-bottom: 310px;

            @include xs() {
                padding-top: 40px;
                margin-right: 20px;
                padding-bottom: 10px;
            }

            @include sm() {
                padding-top: 40px;
                margin-right: 20px;
                padding-bottom: 10px;
            }

            h2 {
                font-family: $playfair;
                font-weight: 700;
                font-size: 48px;
                letter-spacing: 0.323077px;
                color: #2D2F30;

                @include xs {
                    font-size: 25px;
                }

                @include sm {
                    font-size: 25px;
                }
            }


            p {
                padding-top: 30px;
                padding-right: 27px;
                padding-left: 8px;
                font-family: $poppins;
                font-weight: 400;
                font-size: 20px;
                letter-spacing: 0.5px;
                color: $gray;

                @include xs {
                    font-size: 14px;
                }

                @include sm {
                    font-size: 14px;
                }

            }
        }

        .content_right {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-content: flex-start;
            gap: 26px;
            padding-top: 126px;
            margin-right: 256px;

            @include xs() {
                display: grid;
                grid-template-columns: 1fr;
                gap: 10;
                padding-top: 30px;
                margin-right: 35px;
                margin-left: 30px;
            }

            @include sm() {
                padding-top: 30px;
                margin-right: 35px;
                margin-left: 60px;
            }


            div {
                margin: 24px;

                img {}

                h3 {
                    padding-top: 18px;
                    font-family: $playfair;
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 22px;
                    color: #363940;

                    @include xs(){
                        font-size: 20px;
                    }
                    @include sm(){
                        font-size: 20px;
                    }
                }

                p {
                    padding-top: 10px;
                    font-family: 'Plus Jakarta Sans';
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    align-items: center;
                    letter-spacing: 0.3px;
                    color: #8B8C8C;


                }
            }

        }
    }
}